@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Sitecore.SharedSource.Forms.Fields.ReCaptcha.Services.Html
@using Sitecore.SharedSource.Forms.Fields.ReCaptcha.Views
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Mvc
@model Sitecore.SharedSource.Forms.Fields.ReCaptcha.Models.ReCaptchaModel
@{
    var fieldId = Html.IdFor(m => Model.CaptchaValue);
    Html.AddScript(ScriptStore.ValidateScriptKey, new MvcHtmlString("<script src=\"/sitecore%20modules/Web/ExperienceForms/scripts/recaptcha.validate.js\"></script>"));
}
@if (Html.Sitecore().IsExperienceFormsEditMode())
{
    <script type="text/javascript">
        var reCaptchaWidgetArray = new Object();
        var reCaptchaArray = [];
        var recaptchasRendered = false;
        var loadReCaptchas = function () {
            if (recaptchasRendered) {
                return;
            }
            recaptchasRendered = true;
            for (var i = 0; i < reCaptchaArray.length; i++) {
                reCaptchaArray[i]();
            }
        };
    </script>
}
<div id="@(fieldId)_wrapper"></div>
<input id="@fieldId" name="@Html.NameFor(m => Model.CaptchaValue)" type="hidden" class="fxt-captcha"
       @Html.GenerateUnobtrusiveValidationAttributes(m => m.CaptchaValue) />
@Html.ValidationMessageFor(m => Model.CaptchaValue)

<script type="text/javascript" defer="defer">
    if (reCaptchaArray === undefined) {
        var reCaptchaArray = [];
        var reCaptchaWidgetArray = new Object();
    }
  reCaptchaArray.push(
    function() {
        var _captchaInput = window.document.getElementById('@fieldId');
        $($(_captchaInput).closest('form').find('input[type="submit"]')).attr("widgetid", '@fieldId');

        $($(_captchaInput).closest('form').find('input[type="submit"]')).bind('click', { captchaInput: _captchaInput}, function (e) {

            grecaptcha.execute(reCaptchaWidgetArray['@fieldId']);
            var data = e.data;
            if (!$(data.captchaInput).val()) {
                return false;
            }
        });

        window.reCaptchaWidgetArray['@fieldId'] = window.grecaptcha.render('@(fieldId)_wrapper',
        {
          'sitekey': '@Model.CaptchaPublicKey',
		  'size':'invisible',
          'callback': function (token) {
              if (!_captchaInput.value)
              {
                  setTimeout(function () {

       $($(_captchaInput).closest('form').find('input[type="submit"]')).click();
    }, 200);

              }
            _captchaInput.value = token;remote
          },
          'expired-callback': function(args) {
            _captchaInput.value = '';
          }
        });
    }
  );

</script>


<script src="https://www.google.com/recaptcha/api.js?onload=loadReCaptchas&render=explicit&hl=@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName" async defer></script>